@{
    ViewData["Title"] = "Home Page";
}
<section class="main-banner">
    <div class="slider-active">
        <div class="single-slider">
            <div class="container align-items-center">
                <div class="col-lg-6 col-md-12">
                    <div class="banner-content">
                        <div class="subtitle" data-animation="fadeInUp" data-delay=".4s">
                            <h2 class="h2-subtitle">Bem-vindo à Espumas Oeste</h2>
                            <div class="subtitle-line"></div>
                        </div>
                        <h1 class="h1-title" data-animation="fadeInUp" data-delay=".6s">Excelência em Espumas PU</h1>
                        <p data-animation="fadeInUp" data-delay=".8s">Desde 1995, trazendo inovação e qualidade em espumas de poliuretano, com soluções personalizadas e parcerias duradouras para diversos setores.</p>
                        <div class="banner-btn" data-animation="fadeInUp" data-delay="1s">
                            <a href="about-us.html" class="sec-btn btn-1 sec-btn-claro"> Saiba Mais</a>
                            <a href="contact-us.html" class="sec-btn btn-2">Entre em Contato</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="banner-slider-img" data-animation="fadeInRight" data-delay=".4s">
                <img src="~/imgs/banner-1.png" alt="slider">
                <div class="banner-years" data-animation="fadeInUp" data-delay=".7s">
                    <div class="banner-years-content">
                        <h2 class="h2-title">30</h2>
                        <p>Anos de Experiência</p>
                    </div>
                </div>
            </div>
            <div class="mob-banner-slider" data-animation="fadeInRight" data-delay=".4s">
                <img src="~/imgs/banner-1.png" alt="slider">
            </div>
            <div class="banner-slider-bg-img" data-animation="fadeInRight" data-delay=".7s">
                <img src="~/template/assets/images/banner-slider-bg.png" alt="slider-bg">
            </div>
            <div class="banner-aliment animate-this" data-animation="fadeInLeft" data-delay="1.05s">
                <img src="~/template/assets/images/banner-aliment.png" alt="aliment">
            </div>
        </div>
        <div class="single-slider">
            <div class="container align-items-center">
                <div class="col-lg-6 col-md-12">
                    <div class="banner-content">
                        <div class="subtitle" data-animation="fadeInUp" data-delay=".4s">
                            <h2 class="h2-subtitle">Bem-vindo à Espumas Oeste</h2>
                            <div class="subtitle-line"></div>
                        </div>
                        <h1 class="h1-title" data-animation="fadeInUp" data-delay=".6s">Versatilidade em Espumas</h1>
                        <p data-animation="fadeInUp" data-delay=".8s">A base ideal para móveis, colchões, automóveis, dispositivos de mobilidade e segurança, e muito mais.</p>
                        <div class="banner-btn" data-animation="fadeInUp" data-delay="1s">
                            <a href="about-us.html" class="sec-btn btn-1 sec-btn-claro">Saiba Mais</a>
                            <a href="contact-us.html" class="sec-btn btn-2">Entre em Contato</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="banner-slider-img" data-animation="fadeInRight" data-delay=".4s">
                <img src="~/imgs/banner-2.png" alt="slider">
                <div class="banner-years" data-animation="fadeInUp" data-delay=".7s">
                    <div class="banner-years-content">
                        <h2 class="h2-title">30</h2>
                        <p>Anos de Experiência</p>
                    </div>
                </div>
            </div>
            <div class="mob-banner-slider" data-animation="fadeInRight" data-delay=".4s">
                <img src="~/imgs/banner-2.png" alt="slider">
            </div>
            <div class="banner-slider-bg-img" data-animation="fadeInRight" data-delay=".7s">
                <img src="~/template/assets/images/banner-slider-bg.png" alt="slider-bg">
            </div>
            <div class="banner-aliment animate-this" data-animation="fadeInLeft" data-delay="1.05s">
                <img src="~/template/assets/images/banner-aliment.png" alt="aliment">
            </div>
        </div>
        <div class="single-slider">
            <div class="container align-items-center">
                <div class="col-lg-6 col-md-12">
                    <div class="banner-content">
                        <div class="subtitle" data-animation="fadeInUp" data-delay=".4s">
                            <h2 class="h2-subtitle">Bem-vindo à Espumas Oeste</h2>
                            <div class="subtitle-line"></div>
                        </div>
                        <h1 class="h1-title" data-animation="fadeInUp" data-delay=".6s">Soluções Sob Medida</h1>
                        <p data-animation="fadeInUp" data-delay=".8s">Blocos e laminados de espuma de poliuretano em diversas densidades para múltiplas aplicações.</p>
                        <div class="banner-btn" data-animation="fadeInUp" data-delay="1s">
                            <a href="about-us.html" class="sec-btn btn-1 sec-btn-claro">Saiba Mais</a>
                            <a href="contact-us.html" class="sec-btn btn-2">Entre em Contato</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="banner-slider-img" data-animation="fadeInRight" data-delay=".4s">
                <img src="~/imgs/banner-3.png" alt="slider">
                <div class="banner-years" data-animation="fadeInUp" data-delay=".7s">
                    <div class="banner-years-content">
                        <h2 class="h2-title">30</h2>
                        <p>Anos de Experiência</p>
                    </div>
                </div>
            </div>
            <div class="mob-banner-slider" data-animation="fadeInRight" data-delay=".4s">
                <img src="~/imgs/banner-3.png" alt="slider">
            </div>
            <div class="banner-slider-bg-img" data-animation="fadeInRight" data-delay=".7s">
                <img src="~/template/assets/images/banner-slider-bg.png" alt="slider-bg">
            </div>
            <div class="banner-aliment animate-this" data-animation="fadeInLeft" data-delay="1.05s">
                <img src="~/template/assets/images/banner-aliment.png" alt="aliment">
            </div>
        </div>
    </div>
</section>
<section class="main-about-us">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="about-img-box">
                    <div class="about-img-1">
                        <img src="~/imgs/producao-3.jpg" alt="about">
                    </div>
                    <div class="about-img-2">
                        <img src="~/imgs/producao-1.jpg" alt="about">
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="about-content">
                    <div class="about-title">
                        <div class="subtitle">
                            <h2 class="h2-subtitle">Quem Somos</h2>
                            <div class="subtitle-line"></div>
                        </div>
                        <h2 class="h2-title title-1">Desde 1995</h2>
                    </div>
                    <p>
                        Atuamos no mercado de espumas de poliuretano (PU), com foco em inovação e qualidade. Iniciamos com a produção de assentos e
                        encostos para cadeiras de escritório e, ao longo do tempo, expandimos para novos nichos, formando parcerias estratégicas e
                        atendendo o mercado repositor de peças."
                    </p>
                    <p>
                        Nosso setor de pesquisa desenvolve moldes exclusivos para oferecer soluções personalizadas e
                        construir relações sólidas com nossos clientes."
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="main-counter jarallax" data-jarallax data-speed="0.2" data-imgPosition="50% 0%" style="background-image: url(../imgs/producao-2.jpg);">
    <div class="container">
        <div class="row" id="counter">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="counter-box">
                    <div class="counter-number">
                        <h2 class="h2-title counting-data" data-count="5784">0</h2>
                    </div>
                    <div class="counter-content">
                        <p>Moldes</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="counter-box">
                    <div class="counter-number">
                        <h2 class="h2-title counting-data" data-count="6847">0</h2>
                    </div>
                    <div class="counter-content">
                        <p>Clientes<br>Satisfeitos</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="counter-box">
                    <div class="counter-number">
                        <h2 class="h2-title counting-data" data-count="100">0</h2>
                    </div>
                    <div class="counter-content">
                        <p>Colaboradores</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="counter-box">
                    <div class="counter-number">
                        <h2 class="h2-title counting-data" data-count="8471">0</h2>
                    </div>
                    <div class="counter-content">
                        <p>Toneladas<br>de espuma</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="main-service">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="service-title">
                    <div class="subtitle">
                        <h2 class="h2-subtitle">Our Service</h2>
                        <div class="subtitle-line"></div>
                    </div>
                    <h2 class="h2-title">What We Provide You</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="service-box">
                    <div class="service-icon">
                        <img src="~/template/assets/images/service-icon-1.png" alt="icon">
                    </div>
                    <div class="service-box-content">
                        <a href="service-detail.html"><h3 class="h3-title">Oil And Gas Energy</h3></a>
                        <p>Donec et lacus eget tellus porttitor lacinia euismod eu elit. Nulla elementum, purus vel cursus maximus.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="service-box">
                    <div class="service-icon">
                        <img src="~/template/assets/images/service-icon-2.png" alt="icon">
                    </div>
                    <div class="service-box-content">
                        <a href="service-detail.html"><h3 class="h3-title">Agriculture Information</h3></a>
                        <p>Donec et lacus eget tellus porttitor lacinia euismod eu elit. Nulla elementum, purus vel cursus maximus.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="service-box">
                    <div class="service-icon">
                        <img src="~/template/assets/images/service-icon-3.png" alt="icon">
                    </div>
                    <div class="service-box-content">
                        <a href="service-detail.html"><h3 class="h3-title">Civil Engineering</h3></a>
                        <p>Donec et lacus eget tellus porttitor lacinia euismod eu elit. Nulla elementum, purus vel cursus maximus.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="service-box">
                    <div class="service-icon">
                        <img src="~/template/assets/images/service-icon-4.png" alt="icon">
                    </div>
                    <div class="service-box-content">
                        <a href="service-detail.html"><h3 class="h3-title">Bridge Construction</h3></a>
                        <p>Donec et lacus eget tellus porttitor lacinia euismod eu elit. Nulla elementum, purus vel cursus maximus.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="service-view-btn">
                    <a href="services.html" class="sec-btn">View All Services</a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="main-portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="portfolio-title">
                    <div class="subtitle">
                        <h2 class="h2-subtitle">Our Work</h2>
                        <div class="subtitle-line"></div>
                    </div>
                    <h2 class="h2-title">Latest Industry Project</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-main-box">
        <div class="container-fluid portfolio-slider">
            <div class="col-lg-3">
                <div class="portfolio-box">
                    <img src="~/template/assets/images/portfolio-1.jpg" alt="portfolio">
                    <div class="portfolio-content">
                        <div class="portfolio-content-box">
                            <a href="javascript:void(0);"><span>Environment, Industry</span></a>
                            <a href="portfolio-detail.html"><h3 class="h3-title">Chemical Factory</h3></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="portfolio-box">
                    <img src="~/template/assets/images/portfolio-2.jpg" alt="portfolio">
                    <div class="portfolio-content">
                        <div class="portfolio-content-box">
                            <a href="javascript:void(0);"><span>Environment, Industry</span></a>
                            <a href="portfolio-detail.html"><h3 class="h3-title">Manufacturing</h3></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="portfolio-box">
                    <img src="~/template/assets/images/portfolio-3.jpg" alt="portfolio">
                    <div class="portfolio-content">
                        <div class="portfolio-content-box">
                            <a href="javascript:void(0);"><span>Environment, Industry</span></a>
                            <a href="portfolio-detail.html"><h3 class="h3-title">Metal Cutting</h3></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="portfolio-box">
                    <img src="~/template/assets/images/portfolio-4.jpg" alt="portfolio">
                    <div class="portfolio-content">
                        <div class="portfolio-content-box">
                            <a href="javascript:void(0);"><span>Environment, Industry</span></a>
                            <a href="portfolio-detail.html"><h3 class="h3-title">Automative</h3></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="portfolio-box">
                    <img src="~/template/assets/images/portfolio-5.jpg" alt="portfolio">
                    <div class="portfolio-content">
                        <div class="portfolio-content-box">
                            <a href="javascript:void(0);"><span>Environment, Industry</span></a>
                            <a href="portfolio-detail.html"><h3 class="h3-title">Manufacturing</h3></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="portfolio-box">
                    <img src="~/template/assets/images/portfolio-6.jpg" alt="portfolio">
                    <div class="portfolio-content">
                        <div class="portfolio-content-box">
                            <a href="javascript:void(0);"><span>Environment, Industry</span></a>
                            <a href="portfolio-detail.html"><h3 class="h3-title">Chemical Factory</h3></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="main-get-quote">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="get-quote-form">
                    <form>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-box">
                                    <input type="text" name="Full Name" class="form-input" placeholder="Full Name" required>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-box">
                                    <input type="email" name="EmailAddress" class="form-input" placeholder="Email Address" required>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-box">
                                    <input type="text" name="Phone No" class="form-input" placeholder="Phone No." required>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-box">
                                    <textarea class="form-input" placeholder="Message..."></textarea>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-box mb-0">
                                    <button type="submit" class="sec-btn"><span>Submit Now</span></button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="get-quote-content">
                    <div class="get-quote-title">
                        <div class="subtitle">
                            <h2 class="h2-subtitle">Get A Quote</h2>
                            <div class="subtitle-line"></div>
                        </div>
                        <h2 class="h2-title">Get A Free Consultation</h2>
                    </div>
                    <p>Quisque eget tortor posuere, aliquet arcu ut, molestie nunc. Integer malesuada laoreet erat, ut hendrerit magna finibus ut. Duis vitae enim bibendum, gravida sapien vitae, egestas velit ultrices nisi ut lorem pulvinar, in volutpat diam consequat.</p>
                    <div class="get-quote-points">
                        <ul>
                            <li>
                                <i class="fa fa-check-circle" aria-hidden="true"></i>
                                <p>Nunc mattis justo eget ex bibendum eleifend.</p>
                            </li>
                            <li>
                                <i class="fa fa-check-circle" aria-hidden="true"></i>
                                <p>Sed finibus neque nec dui vehicula sollicitudin.</p>
                            </li>
                            <li>
                                <i class="fa fa-check-circle" aria-hidden="true"></i>
                                <p>Vivamus convallis sed felis sed tincidunt.</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="main-how-work">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="how-work-content">
                    <div class="how-work-title">
                        <div class="subtitle">
                            <h2 class="h2-subtitle">How It Work</h2>
                            <div class="subtitle-line"></div>
                        </div>
                        <h2 class="h2-title">See Our Work Flow Here</h2>
                    </div>
                    <div class="how-work-step-box">
                        <div class="how-work-step">
                            <div class="how-work-icon">
                                <img src="~/template/assets/images/how-work-1.png" alt="icon">
                            </div>
                            <div class="how-work-text">
                                <h3 class="h3-title">Get Raw Material</h3>
                                <p>Vestibulum pharetra elit facilisis, porta nisl a, lobortis tortor. Nam lorem libero, pellentesque sit amet.</p>
                            </div>
                        </div>
                        <div class="how-work-step">
                            <div class="how-work-icon">
                                <img src="~/template/assets/images/how-work-2.png" alt="icon">
                            </div>
                            <div class="how-work-text">
                                <h3 class="h3-title">Manufacturer Product</h3>
                                <p>Vestibulum pharetra elit facilisis, porta nisl a, lobortis tortor. Nam lorem libero, pellentesque sit amet.</p>
                            </div>
                        </div>
                        <div class="how-work-step">
                            <div class="how-work-icon">
                                <img src="~/template/assets/images/how-work-3.png" alt="icon">
                            </div>
                            <div class="how-work-text">
                                <h3 class="h3-title">Quality Check</h3>
                                <p>Vestibulum pharetra elit facilisis, porta nisl a, lobortis tortor. Nam lorem libero, pellentesque sit amet.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="how-work-img" style="background-image: url(../template/assets/images/how-work-img.jpg);"></div>
</section>
<section class="main-team">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="team-title">
                    <div class="subtitle">
                        <h2 class="h2-subtitle">Our Workers</h2>
                        <div class="subtitle-line"></div>
                    </div>
                    <h2 class="h2-title">Our Expert Team</h2>
                </div>
            </div>
        </div>
        <div class="row team-slider">
            <div class="col-lg-3">
                <div class="team-box">
                    <img src="~/template/assets/images/team-1.jpg" alt="team">
                    <div class="team-content-box">
                        <div class="team-content">
                            <a href="team-detail.html"><h3 class="h3-title">Abdul Kader</h3></a>
                            <span>Worker</span>
                        </div>
                    </div>
                    <a href="javascript:void(0);" class="main-team-social">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                    </a>
                    <a href="javascript:void(0);" class="main-team-social-fb">
                        <i class="fa fa-facebook" aria-hidden="true"></i>
                    </a>
                    <a href="javascript:void(0);" class="main-team-social-insta">
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                    </a>
                    <a href="javascript:void(0);" class="main-team-social-twee">
                        <i class="fa fa-twitter" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="team-box">
                    <img src="~/template/assets/images/team-2.jpg" alt="team">
                    <div class="team-content-box">
                        <div class="team-content">
                            <a href="team-detail.html"><h3 class="h3-title">Rasalina Doe</h3></a>
                            <span>Worker</span>
                        </div>
                    </div>
                    <a href="javascript:void(0);" class="main-team-social">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                    </a>
                    <a href="javascript:void(0);" class="main-team-social-fb">
                        <i class="fa fa-facebook" aria-hidden="true"></i>
                    </a>
                    <a href="javascript:void(0);" class="main-team-social-insta">
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                    </a>
                    <a href="javascript:void(0);" class="main-team-social-twee">
                        <i class="fa fa-twitter" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="team-box">
                    <img src="~/template/assets/images/team-3.jpg" alt="team">
                    <div class="team-content-box">
                        <div class="team-content">
                            <a href="team-detail.html"><h3 class="h3-title">Abidur Butta</h3></a>
                            <span>Worker</span>
                        </div>
                    </div>
                    <a href="javascript:void(0);" class="main-team-social">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                    </a>
                    <a href="javascript:void(0);" class="main-team-social-fb">
                        <i class="fa fa-facebook" aria-hidden="true"></i>
                    </a>
                    <a href="javascript:void(0);" class="main-team-social-insta">
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                    </a>
                    <a href="javascript:void(0);" class="main-team-social-twee">
                        <i class="fa fa-twitter" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="team-box">
                    <img src="~/template/assets/images/team-4.jpg" alt="team">
                    <div class="team-content-box">
                        <div class="team-content">
                            <a href="team-detail.html"><h3 class="h3-title">Sajadul Haq</h3></a>
                            <span>Worker</span>
                        </div>
                    </div>
                    <a href="javascript:void(0);" class="main-team-social">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                    </a>
                    <a href="javascript:void(0);" class="main-team-social-fb">
                        <i class="fa fa-facebook" aria-hidden="true"></i>
                    </a>
                    <a href="javascript:void(0);" class="main-team-social-insta">
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                    </a>
                    <a href="javascript:void(0);" class="main-team-social-twee">
                        <i class="fa fa-twitter" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="team-box">
                    <img src="~/template/assets/images/team-5.jpg" alt="team">
                    <div class="team-content-box">
                        <div class="team-content">
                            <a href="team-detail.html"><h3 class="h3-title">William Dixon</h3></a>
                            <span>Worker</span>
                        </div>
                    </div>
                    <a href="javascript:void(0);" class="main-team-social">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                    </a>
                    <a href="javascript:void(0);" class="main-team-social-fb">
                        <i class="fa fa-facebook" aria-hidden="true"></i>
                    </a>
                    <a href="javascript:void(0);" class="main-team-social-insta">
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                    </a>
                    <a href="javascript:void(0);" class="main-team-social-twee">
                        <i class="fa fa-twitter" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="main-newsletter">
    <div class="container">
        <div class="newsletter-bg">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="newsletter-title">
                        <h2 class="h2-title">Subscribe To Our Newsletter</h2>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="newsletter-form">
                        <form>
                            <input type="email" name="email" placeholder="Email Address..." required>
                            <button type="submit" class="sec-btn"><span>Subscribe Now</span></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="main-testimonial">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="testimonial-title">
                    <div class="subtitle">
                        <h2 class="h2-subtitle">Our Workers</h2>
                        <div class="subtitle-line"></div>
                    </div>
                    <h2 class="h2-title">Our Expert Team</h2>
                </div>
            </div>
        </div>
        <div class="row testimonial-slider">
            <div class="col-lg-6">
                <div class="testimonial-box">
                    <div class="testimonial-client-img">
                        <img src="~/template/assets/images/client-1.jpg" alt="client">
                    </div>
                    <div class="testimonial-content">
                        <div class="testimonial-client-name">
                            <h3 class="h3-title">Rosalina William</h3>
                            <span>Founder, CEO</span>
                        </div>
                        <p>“Pellentesque vitae dolor et sapien maximus auctor in nec leo. In arcu nisl, accumsan ut lacus eu, vehicula varius sem. Curabitur a lacus venenatis, rhoncus erat sed, facilisis ligula”.</p>
                    </div>
                    <div class="testimonial-quote">
                        <img src="~/template/assets/images/quote.png" alt="quote">
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="testimonial-box">
                    <div class="testimonial-client-img">
                        <img src="~/template/assets/images/client-2.jpg" alt="client">
                    </div>
                    <div class="testimonial-content">
                        <div class="testimonial-client-name">
                            <h3 class="h3-title">Rosalina William</h3>
                            <span>Founder, CEO</span>
                        </div>
                        <p>“Pellentesque vitae dolor et sapien maximus auctor in nec leo. In arcu nisl, accumsan ut lacus eu, vehicula varius sem. Curabitur a lacus venenatis, rhoncus erat sed, facilisis ligula”.</p>
                    </div>
                    <div class="testimonial-quote">
                        <img src="~/template/assets/images/quote.png" alt="quote">
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="testimonial-box">
                    <div class="testimonial-client-img">
                        <img src="~/template/assets/images/client-3.jpg" alt="client">
                    </div>
                    <div class="testimonial-content">
                        <div class="testimonial-client-name">
                            <h3 class="h3-title">Rosalina William</h3>
                            <span>Founder, CEO</span>
                        </div>
                        <p>“Pellentesque vitae dolor et sapien maximus auctor in nec leo. In arcu nisl, accumsan ut lacus eu, vehicula varius sem. Curabitur a lacus venenatis, rhoncus erat sed, facilisis ligula”.</p>
                    </div>
                    <div class="testimonial-quote">
                        <img src="~/template/assets/images/quote.png" alt="quote">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="main-blog">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="blog-title">
                    <div class="subtitle">
                        <h2 class="h2-subtitle">Our Blog</h2>
                        <div class="subtitle-line"></div>
                    </div>
                    <h2 class="h2-title">Latest News & Blog</h2>
                </div>
            </div>
        </div>
        <div class="row blog-slider">
            <div class="col-lg-4">
                <div class="blog-box">
                    <div class="blog-img">
                        <img src="~/template/assets/images/blog-1.jpg" alt="blog">
                    </div>
                    <div class="blog-main-user-box">
                        <div class="blog-user-box">
                            <div class="blog-date">
                                <span></span>
                                <a href="javascript:void(0);">7 March, 2021</a>
                            </div>
                            <div class="blog-author">
                                <span></span>
                                <a href="javascript:void(0);">By Mike Doe</a>
                            </div>
                        </div>
                    </div>
                    <div class="blog-content">
                        <a href="blog-detail.html"><h3 class="h3-title">Cras ornare dapibus pulvina mauris volutpat.</h3></a>
                        <p>Pellentesque vitae dolor et sapien maximus auctor in nec leo in arcu nisl.</p>
                        <a href="blog-detail.html" class="sec-link-btn">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="blog-box">
                    <div class="blog-img">
                        <img src="~/template/assets/images/blog-2.jpg" alt="blog">
                    </div>
                    <div class="blog-main-user-box">
                        <div class="blog-user-box">
                            <div class="blog-date">
                                <span></span>
                                <a href="javascript:void(0);">7 March, 2021</a>
                            </div>
                            <div class="blog-author">
                                <span></span>
                                <a href="javascript:void(0);">By Mike Doe</a>
                            </div>
                        </div>
                    </div>
                    <div class="blog-content">
                        <a href="blog-detail.html"><h3 class="h3-title">Cras ornare dapibus pulvina mauris volutpat.</h3></a>
                        <p>Pellentesque vitae dolor et sapien maximus auctor in nec leo in arcu nisl.</p>
                        <a href="blog-detail.html" class="sec-link-btn">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="blog-box">
                    <div class="blog-img">
                        <img src="~/template/assets/images/blog-3.jpg" alt="blog">
                    </div>
                    <div class="blog-main-user-box">
                        <div class="blog-user-box">
                            <div class="blog-date">
                                <span></span>
                                <a href="javascript:void(0);">7 March, 2021</a>
                            </div>
                            <div class="blog-author">
                                <span></span>
                                <a href="javascript:void(0);">By Mike Doe</a>
                            </div>
                        </div>
                    </div>
                    <div class="blog-content">
                        <a href="blog-detail.html"><h3 class="h3-title">Cras ornare dapibus pulvina mauris volutpat.</h3></a>
                        <p>Pellentesque vitae dolor et sapien maximus auctor in nec leo in arcu nisl.</p>
                        <a href="blog-detail.html" class="sec-link-btn">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<footer class="main-Footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="footer-logo-content">
                    <a href="index-2.html"><img src="~/template/assets/images/footer-logo.png" alt="Indugi"></a>
                    <p>Nulla pellentesque sodales bibendum. Nullam eget posuere eros, id congue orci maecenas convallisante.</p>
                    <div class="footer-contact-box">
                        <div class="footer-call">
                            <div class="footer-call-icon">
                                <i class="fa fa-phone" aria-hidden="true"></i>
                            </div>
                            <div class="footer-call-content">
                                <span>1800-121-3637</span>
                                <br><span>+91 555 234-8765</span>
                            </div>
                        </div>
                        <div class="footer-mail">
                            <div class="footer-mail-icon">
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                            </div>
                            <div class="footer-mail-content">
                                <span>info@gmail.com</span>
                                <br><span>services@gmail.com</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="footer-link">
                    <div class="footer-link-title">
                        <h3 class="h3-title">Our Links</h3>
                    </div>
                    <ul>
                        <li><a href="index-2.html">Home</a></li>
                        <li><a href="about-us.html">About Us</a></li>
                        <li><a href="services.html">Services</a></li>
                        <li><a href="faq.html">FAQ</a></li>
                        <li><a href="team.html">Team</a></li>
                        <li><a href="blog-list.html">Blog</a></li>
                        <li><a href="contact-us.html">Contact Us</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="footer-service">
                    <div class="footer-service-title">
                        <h3 class="h3-title">Our Services</h3>
                    </div>
                    <ul>
                        <li><a href="service-detail.html">Construction Engineering</a></li>
                        <li><a href="service-detail.html">Oil & Gas Refinery</a></li>
                        <li><a href="service-detail.html">Mechanical Engineering</a></li>
                        <li><a href="service-detail.html">Chemical Research</a></li>
                        <li><a href="service-detail.html">Civil Engineering</a></li>
                        <li><a href="service-detail.html">Automobile Service</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="footer-work-hr">
                    <div class="footer-work-hr-title">
                        <h3 class="h3-title">Working Hours</h3>
                    </div>
                    <div class="footer-work-hr-content">
                        <span>Monday - Saturday: 09:00AM - 09:00PM</span>
                        <br><span>Saunday: Close</span>
                    </div>
                </div>
                <div class="social-media-footer">
                    <a href="javascript:void(0);" title="Follow on Facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    <a href="javascript:void(0);" title="Follow on Instagram"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                    <a href="javascript:void(0);" title="Follow on Twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                    <a href="javascript:void(0);" title="Follow on Twitter"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="copyright-content">
                        <span>Copyright &copy; 2022 <a href="index-2.html">ShivaayThemes.</a> All rights reserved.</span>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="copyright-links">
                        <ul>
                            <li><a href="about-us.html">Privacy Policy</a></li>
                            <li><a href="about-us.html">Team & Condition</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<a href="#main-banner" class="scroll-top" id="scroll-to-top">
    <i class="fa fa-arrow-up" aria-hidden="true"></i>
</a>
